body {
  position: relative;
  
  &:after {
    content: '';
    @include background-grid($color: red);
    pointer-events: none;
    z-index: 1001;
    position: fixed;
    opacity: 0;
    transition: $speed $easing;
    width: 100vw;
    max-width: $max-width;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

html.has-grid-overlay-enabled {
  body:after {
    opacity: .5;
  }
}
 